/*background colors*/
$background00: #0B1D35;
$background05: #0c1a2d;
$background07: #0e1928;
$background08: #0b1625;
$background09: #0e1828;

/*primary color*/
$primary: #377df7;

/*button colors*/
$buttonHover: #1b2f4a;
$buttonSelected: #1e4c94;
$buttonDisabled: #102b55;

/*divider color*/
$divider: #172c49;

/*typography colors*/
$white900: #ffffff;
$white600: #e0e0e0;
$white300: #b8b8b8;
$white100: #898988;

/* unit colors */
$unit1: #aeaeae;
$unit2: #70b173;
$unit3: #6483f1;
$unit4: #9169c5;
$unit5: #b1aa64;

/* state colors */
$red: #e87575;
$yellow: #e8d575;
$green: #85e875;

/* component specific colors */
$star: #dbcd4f;
$traitBronze: #775a43;
$traitSilver: #737e81;
$traitGold: #a48b4d;
$traitPrismatic: #aeb0d9;
