/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
@import url("https://rsms.me/inter/inter.css");
body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: -0.02em;
}

h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.caption-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 32px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 10px;
    line-height: 150%;
  }
  .body {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 10px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1050px) {
  h1 {
    font-size: 20px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 10px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 150%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 18px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 8px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 115%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
.text-secondary {
  color: #e0e0e0;
}

.guide-paragraph {
  margin: 20px 0;
}

.guide-divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #172c49;
  margin-bottom: 20px;
}

.guide-divider-inner {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #172c49;
  margin: 80px 0;
}

.guide-heading {
  margin: 40px 0;
}

.guide-subheading {
  margin: 32px 0;
}

.guide-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 900px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 4px;
  padding: 16px;
}

.guide-head {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.guide-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;
  width: 60%;
}

.guide-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.guide-set {
  padding: 2px 16px 3px;
  background: #377df7;
  border: 1px solid #172c49;
  border-radius: 24px;
}

.guide-info-divider {
  width: 4px;
  height: 4px;
  background: #172c49;
  border-radius: 20px;
}

.guide-head-img {
  width: 256px;
  height: 256px;
}

.border-1 {
  border-radius: 4px;
  border: 3px solid #aeaeae;
}

.border-2 {
  border-radius: 4px;
  border: 3px solid #70b173;
}

.border-3 {
  border-radius: 4px;
  border: 3px solid #6483f1;
}

.border-4 {
  border-radius: 4px;
  border: 3px solid #9169c5;
}

.border-5 {
  border-radius: 4px;
  border: 3px solid #b1aa64;
}

.guide-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 924px;
  height: 128px;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 4px;
  cursor: pointer;
  transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
}

.guide-list-wrapper-small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 614px;
  height: 128px;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 4px;
  cursor: pointer;
  transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
}

.guide-list-wrapper:hover {
  opacity: 0.6;
}

.guide-list-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 0px;
  width: 453px;
}

.guide-list-head-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 0px;
  width: 336px;
}

.guide-list-date {
  background-color: #b8b8b8;
}

.guide-list-head-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.guide-list-head-inner p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.guide-list-foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.guide-set-tooltip {
  padding: 2px 8px 3px;
  gap: 10px;
  background: #1b2f4a;
  border-radius: 24px;
}

.dot-separator {
  width: 2px;
  height: 2px;
  background: #b8b8b8;
}

.copy-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 6px;
  background: #1e4c94;
  border-radius: 15px;
  cursor: pointer;
}

button {
  border: none;
}

.copy-button img {
  width: 9px;
  height: 13px;
}

.guide-list-splash {
  width: 256px;
  height: 128px;
  border: 1px solid #6483f1;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grey {
  color: #e0e0e0;
}

.guide-list-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.guide-list-author img {
  width: 20px;
  height: 20px;
  border: 1px solid #172c49;
  border-radius: 4px;
}

.guide-frame {
  width: 100%;
  height: 490px;
}

@media screen and (max-width: 1350px) {
  .guide-list-wrapper {
    padding: 12px;
    width: 700px;
    height: 135px;
  }
  .guide-list-head {
    height: 135px;
  }
  .guide-list-splash {
    width: 220px;
    height: 135px;
  }
  .guide-head-img {
    width: 200px;
    height: 200px;
  }
  .guide-frame {
    width: 100%;
    height: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .guide-wrapper {
    width: calc(100% - 32px);
  }
  .guide-head-img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 800px) {
  .guide-list-wrapper-small {
    padding: 8px;
    width: calc(100% - 16px);
    height: 100px;
  }
  .guide-list-head {
    height: 100px;
    width: 50%;
  }
  .guide-list-splash {
    width: 120px;
    height: 100px;
  }
  .guide-head-img {
    width: 75px;
    height: 75px;
  }
  .guide-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 70%;
  }
  .guide-head {
    gap: 12px;
  }
  .guide-paragraph {
    margin: 10px 0;
  }
  .guide-divider {
    margin-bottom: 10px;
  }
  .guide-divider-inner {
    margin: 40px 0;
  }
  .guide-heading {
    margin: 20px 0;
  }
  .guide-subheading {
    margin: 16px 0;
  }
  .guide-set {
    padding: 2px 12px 2px;
  }
}
@media screen and (max-width: 803px) {
  .guide-frame {
    height: 436px;
  }
}
@media screen and (max-width: 679px) {
  .guide-frame {
    height: 406px;
  }
}
@media screen and (max-width: 500px) {
  .guide-frame {
    height: 212px;
  }
}/*# sourceMappingURL=guides.css.map */