@import "../../variables/colors.scss";
@import "../../styles/index.scss";

.guide-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 924px;
  height: 128px;
  background: $background05;
  border: 1px solid $divider;
  border-radius: 4px;
  cursor: pointer;
  transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
}

.guide-list-wrapper-small{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 614px;
  height: 128px;
  background: $background05;
  border: 1px solid $divider;
  border-radius: 4px;
  cursor: pointer;
  transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
}

.guide-list-wrapper:hover {
  opacity: 0.6;
}

.guide-list-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 0px;
  width: 453px;
}

.guide-list-head-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 0px;
  width: 336px;
}

.guide-list-date {
  background-color: $white300;
}

.guide-list-head-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.guide-list-head-inner p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.guide-list-foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.guide-set-tooltip {
  padding: 2px 8px 3px;
  gap: 10px;
  background: $buttonHover;
  border-radius: 24px;
}

.dot-separator {
  width: 2px;
  height: 2px;
  background: $white300;
}

.copy-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 6px;
  background: $buttonSelected;
  border-radius: 15px;
  cursor: pointer;
}

button {
  border: none;
}

.copy-button img {
  width: 9px;
  height: 13px;
}

.guide-list-splash {
  width: 256px;
  height: 128px;
  border: 1px solid $unit3;
  border-radius: 2px;
  object-fit: cover;
}

.grey{
  color: $white600;
}

.guide-list-author{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.guide-list-author img{
  width: 20px;
  height: 20px;
  border: 1px solid $divider;
  border-radius: 4px;
}
@media screen and (max-width: 1350px) {
  .guide-list-wrapper {
    padding: 12px;
    width: 700px;
    height: 135px;
  }

  .guide-list-head {
    height: 135px;
  }

  .guide-list-splash {
    width: 220px;
    height: 135px;
  }
}

@media screen and (max-width: 800px) {
  .guide-list-wrapper {
    padding: 8px;
    width: calc(100% - 16px);
    height: 100px;
  }

  .guide-list-head {
    height: 100px;
    width: 50%;
  }

  .guide-list-splash {
    width: 120px;
    height: 100px;
  }
}
