/*background colors*/
$background00: #081D39;
$background05: #0C1A2D;
$background07: #0E1928;
$background08: #0B1625;
$background09: #0E1828;

/*primary color*/
$primary: #377DF7;

/*button colors*/
$buttonHover: #1B2F4A;
$buttonSelected: #1E4C94;
$buttonDisabled: #102B55;

/*divider color*/
$divider: #172C49;

/*typography colors*/
$white900: #FFFFFF;
$white600: #E0E0E0;
$white300: #B8B8B8;
$white100: #898988;

/* unit colors */
$unit1: #AEAEAE;
$unit2: #70B173;
$unit3: #6483F1;
$unit4: #9169C5;
$unit5: #B1AA64;

/* state colors */
$red: #E87575;
$yellow: #E8D575;
$green: #85E875;

/* component specific colors */
$star: #DBCD4F;
$traitBronze: #775A43;
$traitSilver: #737E81;
$traitGold: #A48B4D;
$traitPrismatic: #AEB0D9;