/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
@import url("https://rsms.me/inter/inter.css");
body {
  margin: 0;
  background-color: #0B1D35;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: -0.02em;
}

h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.caption-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 32px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 10px;
    line-height: 150%;
  }
  .body {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 10px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1050px) {
  h1 {
    font-size: 20px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 10px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 150%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 18px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 10px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 10px;
    line-height: 115%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 11px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 9px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
.green {
  color: #85e875;
  border: transparent;
}

.yellow {
  color: #e8d575;
  border: transparent;
}

.red {
  color: #e87575;
  border: transparent;
}

.augment-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  width: 1240px;
  height: 56px;
  background: #0e1828;
  border-top: 1px solid #172c49;
}

.augment-row-wrapper:nth-child(even) {
  background: #0c1a2d;
}

.augment-row-wrapper:nth-last-child(1) {
  border-radius: 0px 0px 4px 4px;
}

.augment-row-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 300px;
  height: auto;
}

.augment-row-inner img {
  width: 56px;
  height: 56px;
}

.augment-row-inner p {
  text-align: left !important;
  width: 200px !important;
}

.augment-row-wrapper p {
  width: 150px;
  text-align: center;
}

.item-row-image {
  width: 36px !important;
  height: 36px !important;
}

@media screen and (max-width: 1350px) {
  .augment-row-wrapper {
    padding: 0px 30px;
    width: 940px;
    height: 48px;
  }
  .augment-row-inner img {
    width: 48px;
    height: 48px;
  }
  .item-row-image {
    width: 32px !important;
    height: 32px !important;
  }
}
@media screen and (max-width: 1050px) {
  .augment-row-wrapper {
    padding: 0px 20px;
    width: 760px;
    height: 42px;
  }
  .augment-row-inner img {
    width: 42px;
    height: 42px;
  }
  .item-row-image {
    width: 28px !important;
    height: 28px !important;
  }
}
@media screen and (max-width: 850px) {
  .augment-row-wrapper {
    padding: 0px 20px;
    width: calc(100% - 40px);
    height: 42px;
  }
  .augment-row-inner img {
    width: 42px;
    height: 42px;
  }
  .augment-row-wrapper p {
    width: 80px;
  }
  .augment-row-inner {
    width: 100px;
  }
  .item-row-image {
    width: 24px !important;
    height: 24px !important;
  }
}/*# sourceMappingURL=augments.css.map */