/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
@import url("https://rsms.me/inter/inter.css");
body {
  margin: 0;
  background-color: #0B1D35;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: -0.02em;
}

h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.caption-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 32px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 10px;
    line-height: 150%;
  }
  .body {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 10px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1050px) {
  h1 {
    font-size: 20px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 10px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 150%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 18px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 8px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 115%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
.summoner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 1300px;
}

.page-head-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-bottom: 36px;
}

.page-head-wrapper .secondary-button {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.page-head-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summoner-container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 100%;
}

.builder-vertical-container-secondary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 230px;
}

.builder-vertical-container-primary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}

.builder-horizontal-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.augments-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1300px;
}

.comps-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 1300px;
}

.augments-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 1300px;
  border: 1px solid #172c49;
  border-radius: 4px;
}

.augments-titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  width: 1240px;
  height: 50px;
  background-color: #0c1a2d;
  border-radius: 4px 4px 0px 0px;
}

.augments-titles h4 {
  width: 150px;
  text-align: center;
}

.augments-wrapper .primary-button {
  margin-top: 12px;
  align-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.augments-titles h4:nth-child(1) {
  width: 300px;
  text-align: left;
}

.units-titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  width: 1240px;
  height: 50px;
  background-color: #0c1a2d;
  border-radius: 4px 4px 0px 0px;
}

.contact-email {
  color: #377df7;
  text-decoration: none;
}

.units-titles h4 {
  width: 150px;
  text-align: center;
}

.units-titles h4:nth-child(1) {
  text-align: left;
  width: 200px;
}

.units-titles h4:nth-child(2) {
  width: 300px;
}

.sort-navigation-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-navigation-container .default-search {
  width: 250px;
}

.sort-dropdown-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.leaderboard-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 30px;
  width: calc(100% - 60px);
  background-color: #0c1a2d;
  border-radius: 4px 4px 0px 0px;
}

.leaderboard-titles h5 {
  width: 100px;
  text-align: center;
}

.leaderboard-titles h5:nth-child(1) {
  width: 300px !important;
  text-align: left !important;
}

.builder-wrapper-outer {
  width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.privacy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 1000px;
}

.privacy-wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.privacy-wrapper h4 {
  margin-top: 20px;
}

.guides-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.compare-panels-container {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.analyzed-counter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.analyzed-counter-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px 4px 12px;
  gap: 14px;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 4px;
}

.analyzed-counter-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 12px;
  /* Button/disabledBackground */
  background: #102b55;
  /* Divider/divider */
  border: 1px solid #172c49;
  border-radius: 4px;
}

.guides-wrapper {
  width: 1300px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.guides-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 950px;
}

.guides-side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 330px;
}

.guides-counter-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}

.guides-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  /* Background/5 */
  background: #0c1a2d;
  /* Divider/divider */
  border: 1px solid #172c49;
  border-radius: 4px;
  width: calc(50% - 10px);
}

.guides-counter p {
  color: #b8b8b8;
}

.trending-topics-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 20px;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 5px;
}

.write-post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 42px;
  background: #0c1a2d;
  /* Divider/divider */
  border: 1px solid #172c49;
  border-radius: 5px;
}

.write-post-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.write-post-head p {
  color: #b8b8b8;
}

.write-post-container .secondary-button {
  width: 100%;
}

.topic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  background: #0b1625;
  border: 1px solid #172c49;
  border-radius: 4px;
  flex: 1 1 60px;
}

.topics-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}

.profile-page-wrapper {
  display: flex;
  width: 1300px;
  flex-direction: row;
  gap: 20px;
  background-color: transparent;
  border: none;
}

.profile-vertical-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 640px;
}

.profile-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 16px;
  width: 616px;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 4px;
}

.profile-info-wrapper .write-post-container {
  background-color: #0e1928;
}

.profile-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 100%;
}

.profile-info-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: calc(50% - 10px);
  gap: 16px;
  background: #0e1928;
  border: 1px solid #172c49;
  border-radius: 4px;
}

.profile-inner-separator {
  border: 0.5px solid #172c49;
  flex: 1;
}

.profile-inner-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background: #377df7;
  border-radius: 2px;
}

.profile-settings-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 16px;
  width: calc(100% - 16px);
  background: #0e1928;
  border: 1px solid #172c49;
  border-radius: 4px;
}

.profile-settings-inner h4 {
  width: 100px;
}

@media screen and (max-width: 1350px) {
  .summoner-wrapper {
    width: 1000px;
  }
  .augments-wrapper {
    gap: 20px;
    width: 1000px;
  }
  .augments-container {
    width: 1000px;
  }
  .augments-titles {
    padding: 0px 30px;
    width: 940px;
    height: 48px;
  }
  .units-titles {
    padding: 0px 30px;
    width: 940px;
    height: 42px;
  }
  .units-titles h4 {
    width: 150px;
    text-align: center;
  }
  .units-titles h4:nth-child(1) {
    width: 150px;
  }
  .units-titles h4:nth-child(2) {
    width: 250px;
  }
  .comps-wrapper {
    width: 1000px;
  }
  .builder-wrapper-outer {
    width: 1000px;
  }
  .builder-horizontal-wrapper {
    gap: 12px;
  }
  .compare-panels-container {
    width: 1000px;
  }
}
@media screen and (max-width: 1050px) {
  .summoner-wrapper {
    width: 800px;
  }
  .augments-wrapper {
    gap: 20px;
    width: 800px;
  }
  .augments-container {
    width: 800px;
  }
  .augments-titles {
    padding: 0px 20px;
    width: 760px;
    height: 42px;
  }
  .units-titles {
    padding: 0px 20px;
    width: 760px;
    height: 36px;
  }
  .units-titles h4 {
    width: 120px;
    text-align: center;
  }
  .units-titles h4:nth-child(1) {
    width: 120px;
  }
  .units-titles h4:nth-child(2) {
    width: 120px;
  }
  .comps-wrapper {
    width: 800px;
  }
  .builder-wrapper-outer {
    width: 800px;
  }
  .compare-panels-container {
    width: 800px;
  }
}
@media screen and (max-width: 850px) {
  .summoner-wrapper {
    width: calc(100% - 32px);
  }
  .summoner-container-horizontal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .augments-wrapper {
    width: calc(100% - 32px);
  }
  .augments-container {
    width: 100%;
  }
  .augments-titles {
    padding: 0px 16px;
    width: calc(100% - 32px);
    height: 36px;
  }
  .augments-titles h4 {
    width: 80px;
  }
  .augments-titles h4:nth-child(1) {
    width: 100px;
    text-align: left;
  }
  .units-titles {
    padding: 0px 8px;
    width: calc(100% - 16px);
    height: 24px;
  }
  .units-titles h4 {
    width: 80px;
    text-align: center;
  }
  .units-titles h4:nth-child(1) {
    width: 100px;
  }
  .units-titles h4:nth-child(2) {
    width: 80px;
  }
  .comps-wrapper {
    width: calc(100% - 32px);
  }
  .guides-wrapper {
    width: calc(100% - 32px);
  }
  .builder-wrapper-outer {
    width: calc(100% - 32px);
  }
  .compare-panels-container {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}/*# sourceMappingURL=pages.css.map */