@import "../variables/colors.scss";
@import "../styles/index.scss";

.summoner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 1300px;
}

.page-head-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36px;
}

.summoner-container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 100%;
}

.builder-vertical-container-secondary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 230px;
}

.builder-vertical-container-primary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}

.builder-horizontal-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.augments-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1300px;
}

.comps-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 1300px;
}

.augments-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 1300px;
  border: 1px solid $divider;
  border-radius: 4px;
}

.augments-titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  width: 1240px;
  height: 50px;
  background-color: $background05;
  border-radius: 4px 4px 0px 0px;
}

.augments-titles h4 {
  width: 150px;
  text-align: center;
}

.augments-wrapper .primary-button {
  margin-top: 12px;
  align-self: center;
  width: max-content;
}

.augments-titles h4:nth-child(1) {
  width: 300px;
  text-align: left;
}

.units-titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  width: 1240px;
  height: 50px;
  background-color: $background05;
  border-radius: 4px 4px 0px 0px;
}

.contact-email {
  color: $primary;
  text-decoration: none;
}

.units-titles h4 {
  width: 150px;
  text-align: center;
}

.units-titles h4:nth-child(1) {
  text-align: left;
  width: 200px;
}

.units-titles h4:nth-child(2) {
  width: 300px;
}

.sort-navigation-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-navigation-container .default-search {
  width: 250px;
}

.sort-dropdown-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.leaderboard-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 30px;
  width: calc(100% - 60px);
  background-color: $background05;
  border-radius: 4px 4px 0px 0px;
}

.leaderboard-titles h5 {
  width: 100px;
  text-align: center;
}

.leaderboard-titles h5:nth-child(1) {
  width: 300px !important;
  text-align: left !important;
}

.builder-wrapper-outer {
  width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.privacy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 1000px;
}

.privacy-wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.privacy-wrapper h4 {
  margin-top: 20px;
}

.guides-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1350px) {
  .summoner-wrapper {
    width: 1000px;
  }

  .augments-wrapper {
    gap: 20px;
    width: 1000px;
  }

  .augments-container {
    width: 1000px;
  }

  .augments-titles {
    padding: 0px 30px;
    width: 940px;
    height: 48px;
  }

  .units-titles {
    padding: 0px 30px;
    width: 940px;
    height: 42px;
  }

  .units-titles h4 {
    width: 150px;
    text-align: center;
  }

  .units-titles h4:nth-child(1) {
    width: 150px;
  }

  .units-titles h4:nth-child(2) {
    width: 250px;
  }

  .comps-wrapper {
    width: 1000px;
  }

  .builder-wrapper-outer {
    width: 1000px;
  }

  .builder-horizontal-wrapper {
    gap: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .summoner-wrapper {
    width: 800px;
  }

  .augments-wrapper {
    gap: 20px;
    width: 800px;
  }

  .augments-container {
    width: 800px;
  }

  .augments-titles {
    padding: 0px 20px;
    width: 760px;
    height: 42px;
  }

  .units-titles {
    padding: 0px 20px;
    width: 760px;
    height: 36px;
  }

  .units-titles h4 {
    width: 120px;
    text-align: center;
  }

  .units-titles h4:nth-child(1) {
    width: 120px;
  }

  .units-titles h4:nth-child(2) {
    width: 120px;
  }

  .comps-wrapper {
    width: 800px;
  }

  .builder-wrapper-outer {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .summoner-wrapper {
    width: calc(100% - 32px);
  }

  .summoner-container-horizontal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .augments-wrapper {
    width: calc(100% - 32px);
  }

  .augments-container {
    width: 100%;
  }

  .augments-titles {
    padding: 0px 16px;
    width: calc(100% - 32px);
    height: 36px;
  }

  .augments-titles h4 {
    width: 80px;
  }

  .augments-titles h4:nth-child(1) {
    width: 100px;
    text-align: left;
  }

  .units-titles {
    padding: 0px 8px;
    width: calc(100% - 16px);
    height: 24px;
  }

  .units-titles h4 {
    width: 80px;
    text-align: center;
  }

  .units-titles h4:nth-child(1) {
    width: 100px;
  }

  .units-titles h4:nth-child(2) {
    width: 80px;
  }

  .comps-wrapper {
    width: calc(100% - 32px);
  }

  .guides-wrapper {
    width: calc(100% - 32px);
  }

  .builder-wrapper-outer {
    width: calc(100% - 32px);
  }
}
