/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
@import url("https://rsms.me/inter/inter.css");
body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: -0.02em;
}

h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.caption-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 32px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 10px;
    line-height: 150%;
  }
  .body {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 10px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1050px) {
  h1 {
    font-size: 20px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 10px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 150%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 18px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 8px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 115%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}
.embed-builder-board-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 8px;
  gap: 8px;
  width: calc(100% - 18px);
  height: 392px;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 4px;
}

.embed-builder-board-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  padding-left: 50px;
  min-height: 95px;
  margin-bottom: -20px;
}

.embed-builder-board-row-odd {
  padding-right: 0px;
  padding-left: 50px;
}

.embed-builder-board-row-even {
  padding-right: 50px;
  padding-left: 0px;
}

.embed-builder-board-row:nth-child(1) {
  margin-top: -20px;
}

.embed-builder-board-row .unit-hex-container-medium {
  margin: 0;
  padding: 0;
}

.embed-builder-board-buttons-container {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.embed-builder-board-clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid #172c49;
  background-color: #0e1828;
  padding: 6px 12px 6px 8px;
  cursor: pointer;
  transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
}

.embed-builder-board-copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid #172c49;
  background-color: #377df7;
  padding: 6px 12px 6px 8px;
  cursor: pointer;
  transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
}

.embed-builder-board-visit {
  padding: 6px 16px;
  background-color: #377df7;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
}

.embed-builder-board-visit:hover {
  background-color: #1e4c94;
}

.embed-builder-board-embed-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid #172c49;
  background-color: #0e1828;
  padding: 6px 12px 6px 8px;
  cursor: pointer;
  transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
}

.embed-builder-board-embed-button img {
  width: 18px;
  height: 18px;
}

.embed-builder-board-copy-button:hover {
  background-color: #1e4c94;
}

.embed-builder-board-clear-button:hover {
  background-color: #1b2f4a;
}

.embed-builder-board-clear-button img {
  width: 18px;
  height: 18px;
}

.embed-builder-board-copy-button img {
  width: 18px;
  height: 18px;
}

.lds-dual-ring {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.lds-dual-ring:after {
  content: " ";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 6px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 2s linear infinite;
          animation: lds-dual-ring 2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.traits-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px;
  border: 1px #172c49 solid;
  border-radius: 4px;
  background-color: #0c1a2d;
  width: calc(100% - 10px);
  overflow-x: scroll;
}

.trait-container {
  border: 1px #172c49 solid;
  border-radius: 4px;
  background-color: #0e1928;
  padding: 4px 8px 4px 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 803px) {
  .embed-builder-board-wrapper {
    width: calc(100% - 18px);
    gap: 4px;
    height: 350px;
  }
  .embed-builder-board-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    padding-right: 42px;
    height: 80px;
  }
  .embed-builder-board-row:nth-child(even) {
    padding-right: 0px;
    padding-left: 42px;
  }
  .embed-builder-board-row:nth-child(1) {
    margin-top: -20px;
  }
  .embed-builder-board-buttons-container {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  .embed-builder-board-clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    border: 1px solid #172c49;
    background-color: #0e1828;
    padding: 4px 8px 4px 6px;
    cursor: pointer;
    transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
  }
  .embed-builder-board-copy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    border: 1px solid #172c49;
    background-color: #377df7;
    padding: 4px 8px 4px 6px;
    cursor: pointer;
    transition: all cubic-bezier(0.84, 0.15, 0.21, 0.92) 0.2s;
  }
  .embed-builder-board-clear-button img {
    width: 14px;
    height: 14px;
  }
  .embed-builder-board-copy-button img {
    width: 14px;
    height: 14px;
  }
  .embed-builder-board-visit {
    padding: 6px 14px;
    border-radius: 3px;
  }
  .embed-builder-board-visit h4 {
    font-size: 12px;
  }
}
@media screen and (max-width: 679px) {
  .embed-builder-board-wrapper {
    width: calc(100% - 18px);
    gap: 0px;
    height: 320px;
  }
  .embed-builder-board-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    padding-right: 32px;
    min-height: 70px;
  }
  .embed-builder-board-row:nth-child(even) {
    padding-right: 0px;
    padding-left: 32px;
  }
  .embed-builder-board-row:nth-child(1) {
    margin-top: -20px;
  }
}
@media screen and (max-width: 500px) {
  .embed-builder-board-visit h4 {
    font-size: 9px;
    color: #377df7;
  }
  .embed-builder-board-visit {
    padding: 0px 0px;
    border-radius: 2px;
    background-color: transparent;
  }
  .embed-builder-board-wrapper {
    width: calc(100% - 18px);
    gap: 0px;
    height: 150px;
    padding: 12px 8px 4px;
  }
  .embed-builder-board-row {
    gap: 8px;
    padding-right: 18px;
    min-height: 32px;
    height: 32px;
    margin-bottom: 0px;
  }
  .embed-builder-board-row:nth-child(even) {
    padding-right: 0px;
    padding-left: 18px;
  }
  .embed-builder-board-row:nth-child(1) {
    margin-top: -20px;
  }
  .embed-builder-board-clear-button {
    gap: 4px;
  }
  .embed-builder-board-copy-button {
    gap: 4px;
  }
  .embed-builder-board-clear-button img {
    width: 10px;
    height: 10px;
  }
  .embed-builder-board-copy-button img {
    width: 10px;
    height: 10px;
  }
}/*# sourceMappingURL=embed.css.map */