@import "../../variables/colors.scss";
@import "../../styles/index.scss";

.navbar-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background05;
  border: 1px solid #172c49;
}

.navbar-links-container {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-inner-container {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}

.navbar-inner-container img {
  height: 24px;
  width: auto;
}

.nav-mobile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $background07;
  border-bottom: 1px solid $divider;
}

.nav-mobile-inner {
  width: calc(100% - 32px);
  padding: 12px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile-logo {
  width: 81px;
  height: 24px;
}

.nav-mobile-hamburger {
  width: 24px;
  height: 24px;
}

.nav-mobile-links {
  transition: all ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 4px;
  padding-bottom: 12px;
  overflow: hidden;
}

.open {
  display: flex;
}

.closed {
  display: none;
}

.navbar-inner-in{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar-inner-in .primary-button{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $buttonSelected;
}

.navbar-inner-in .primary-button p{
  font-size: 14px;
}

@media screen and (max-width: 1350px) {
  .navbar-links-container {
    width: 1000px;
  }
  .navbar-inner-container {
    width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .navbar-links-container {
    width: 800px;
  }
  .navbar-inner-container {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .navbar-container{
    background-color: $background07;
    border-bottom: 1px solid $divider;
  }
  .navbar-inner-container{
    width: calc(100% - 32px);
  }
  .navbar-links-wrapper{
    display: none;
  }
}
