@import "../../variables/colors.scss";
@import "../../styles/index.scss";

.navbar-links-wrapper {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-links-container {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-container {
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  background-color: $background08;
  border-right: 1px solid $divider;
  padding-left: 20px;
  padding-top: 20px;
}

.navbar-inner-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 12px 0px;
}

.navbar-container img {
  height: 24px;
  width: auto;
  padding-right: 20px;
}

.nav-mobile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $background05;
  border-bottom: 1px solid $divider;
}

.nav-mobile-inner {
  width: calc(100% - 32px);
  padding: 12px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile-logo {
  width: 81px;
  height: 24px;
}

.nav-mobile-hamburger {
  width: 24px;
  height: 24px;
}

.nav-mobile-links {
  transition: all ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 4px;
  padding-bottom: 12px;
  overflow: hidden;
}

.open {
  display: flex;
}

.closed {
  display: none;
}
<<<<<<< Updated upstream

.navbar-inner-in{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar-inner-in .primary-button{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $buttonSelected;
}

.navbar-inner-in .primary-button p{
  font-size: 14px;
}

@media screen and (max-width: 1350px) {
  .navbar-links-container {
    width: 1000px;
  }
  .navbar-inner-container {
    width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .navbar-links-container {
    width: 800px;
  }
  .navbar-inner-container {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
}
=======
>>>>>>> Stashed changes
