/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
@import url("https://rsms.me/inter/inter.css");
body {
  margin: 0;
  background-color: #081d39;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 95%;
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: -0.02em;
}

h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.caption-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 32px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 10px;
    line-height: 150%;
  }
  .body {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 10px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 20px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 10px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 150%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 18px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 8px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 115%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}

form {
  outline: none;
  padding: 0;
  margin: 0;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: hidden;
  padding: 0;
  margin: 0;
}

.default-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 8px 6px 8px;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 2px;
}

.default-search img {
  width: 16px;
  height: 16px;
}

.default-search input {
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-search input:focus {
  background-color: transparent;
  outline: none;
}

.region-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 13px 36px 13px 24px;
  gap: 4px;
  border-radius: 4px;
}

.region-container:hover {
  background-color: #1b2f4a;
}

.selected {
  background-color: #1e4c94;
}

.region-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.region-dropdown-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4px 0px;
  background: #0c1a2d;
  border: 1px solid #172c49;
  border-radius: 4px;
}

.specific-search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  width: 520px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.specific-search-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 6px;
}

.specific-search-inner input {
  -webkit-appearance: none;
  background-color: transparent;
  border: transparent;
  outline: none;
}

.specific-search-inner input:focus {
  background-color: transparent;
  border: transparent;
  outline: none;
}

.specific-search-container img {
  width: 16px;
  height: 16px;
}

.summoner-search-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  z-index: 2;
  background-color: #0c1a2d;
  -webkit-box-shadow: 0 0 0 1px #172c49;
          box-shadow: 0 0 0 1px #172c49;
  border-radius: 4px;
  height: 65px;
  overflow: visible;
}

.summoner-search-divider {
  width: 1px;
  height: 36px;
  background-color: #172c49;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1350px) {
  .default-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 8px 6px 8px;
    background: #0c1a2d;
    border: 1px solid #172c49;
    border-radius: 2px;
  }
  .default-search img {
    width: 14px;
    height: 14px;
  }
  .specific-search-container {
    padding: 12px;
    width: 420px;
  }
  .specific-search-inner {
    padding: 0px;
    gap: 5px;
  }
  .specific-search-container img {
    width: 14px;
    height: 14px;
  }
  .summoner-search-container {
    gap: 12px;
    height: 59px;
  }
  .summoner-search-divider {
    width: 1px;
    height: 32px;
    background-color: #172c49;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 1050px) {
  .default-search {
    padding: 5px 4px 5px 4px;
    background: #0c1a2d;
    border: 1px solid #172c49;
    border-radius: 2px;
  }
  .default-search img {
    width: 12px;
    height: 12px;
  }
  .region-container {
    padding: 10px 24px 10px 18px;
    gap: 4px;
    border-radius: 4px;
  }
  .specific-search-container {
    padding: 12px;
    width: 320px;
    height: calc(49px - 24px);
  }
  .specific-search-inner {
    padding: 0px;
    gap: 0px;
  }
  .specific-search-container img {
    width: 14px;
    height: 14px;
  }
  .summoner-search-container {
    gap: 12px;
    height: 49px;
  }
  .summoner-search-divider {
    width: 1px;
    height: 32px;
    background-color: #172c49;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 850px) {
  .summoner-search-container {
    gap: 12px;
    height: 47px;
  }
  .specific-search-container {
    padding: 12px;
    width: 220px;
    height: calc(47px - 24px);
  }
}
/*# sourceMappingURL=search.css.map */