@import "../../variables/colors.scss";
@import "../../styles/index.scss";

form {
  outline: none;
  padding: 0;
  margin: 0;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: hidden;
  padding: 0;
  margin: 0;
}

.default-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px 6px 8px;
  background: $background05;
  border: 1px solid $divider;
  border-radius: 2px;
}

.default-search img {
  width: 16px;
  height: 16px;
}

.default-search input {
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.default-search input:focus {
  background-color: transparent;
  outline: none;
}

.region-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px 36px 13px 24px;
  gap: 4px;
  border-radius: 4px;
}
.region-container:hover {
  background-color: $buttonHover;
}

.selected {
  background-color: $buttonSelected;
}

.region-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

.region-dropdown-container {
  display: none;
  flex-direction: column;
  padding: 4px 0px;
  background: $background05;
  border: 1px solid $divider;
  border-radius: 4px;
}

.specific-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 520px;
  height: min-content;
}

.specific-search-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
}

.specific-search-inner input {
  -webkit-appearance: none;
  background-color: transparent;
  border: transparent;
  outline: none;
}

.specific-search-inner input:focus {
  background-color: transparent;
  border: transparent;
  outline: none;
}

.specific-search-container img {
  width: 16px;
  height: 16px;
}

.summoner-search-container {
  display: inline-flex;
  flex-direction: row;
  gap: 16px;
  z-index: 2;
  background-color: $background05;
  box-shadow: 0 0 0 1px $divider;
  border-radius: 4px;
  height: 65px;
  overflow: visible;
}

.summoner-search-divider {
  width: 1px;
  height: 36px;
  background-color: $divider;
  align-self: center;
}

@media screen and (max-width: 1350px) {
  .default-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px 6px 8px;
    background: $background05;
    border: 1px solid $divider;
    border-radius: 2px;
  }

  .default-search img {
    width: 14px;
    height: 14px;
  }

  .specific-search-container {
    padding: 12px;
    width: 420px;
  }

  .specific-search-inner {
    padding: 0px;
    gap: 5px;
  }

  .specific-search-container img {
    width: 14px;
    height: 14px;
  }

  .summoner-search-container {
    gap: 12px;
    height: 59px;
  }

  .summoner-search-divider {
    width: 1px;
    height: 32px;
    background-color: $divider;
    align-self: center;
  }
}

@media screen and (max-width: 1050px) {
  .default-search {
    padding: 5px 4px 5px 4px;
    background: $background05;
    border: 1px solid $divider;
    border-radius: 2px;
  }

  .default-search img {
    width: 12px;
    height: 12px;
  }

  .region-container {
    padding: 10px 24px 10px 18px;
    gap: 4px;
    border-radius: 4px;
  }

  .specific-search-container {
    padding: 12px;
    width: 320px;
    height: calc(49px - 24px);
  }

  .specific-search-inner {
    padding: 0px;
    gap: 0px;
  }

  .specific-search-container img {
    width: 14px;
    height: 14px;
  }

  .summoner-search-container {
    gap: 12px;
    height: 49px;
  }

  .summoner-search-divider {
    width: 1px;
    height: 32px;
    background-color: $divider;
    align-self: center;
  }
}

@media screen and (max-width: 850px) {
  .summoner-search-container {
    gap: 12px;
    height: 47px;
  }

  .specific-search-container {
    padding: 12px;
    width: 220px;
    height: calc(47px - 24px);
  }
}
