@import "../../variables/colors.scss";
@import "../../styles/index.scss";

.page-wrapper{
  margin-left: 240px;
  margin: 40px 40px 40px 240px;
  width: calc(100vw - 220px);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.page-wrapper .comp-wrapper{
    scale: 0.9;
}

.page-head{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.continue-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

.continue-wrapper p{
    width: 850px;
}

.continue-wrapper .secondary-button{ 
    width: 100px;
    height: 24px;
    box-sizing: content-box;
}

.continue-wrapper .secondary-button p{
    width: min-content;
    height: min-content;
}

.continue-wrapper .primary-button{ 
    width: 80px;
    height: 24px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -80px;
}

.continue-wrapper .primary-button p{
    width: min-content;
    height: min-content;
    margin: 0;
}

.units-items-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.spots-container{

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.comp-manager-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comp-manager-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.comp-manager-wrapper .comp-wrapper{
    scale: 1;
}

.comp-manager-wrapper{
    scale: 0.9;
}
