/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
/*background colors*/
/*primary color*/
/*button colors*/
/*divider color*/
/*typography colors*/
/* unit colors */
/* state colors */
/* component specific colors */
@import url("https://rsms.me/inter/inter.css");
body {
  margin: 0;
  background-color: #081D39;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
}

h1 {
  font-weight: 600;
  font-size: 92px;
  line-height: 95%;
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  letter-spacing: -0.02em;
}

h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.body {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.caption-small {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 80px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 10px;
    line-height: 150%;
  }
  .body {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 10px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 36px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 10px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 150%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 32px;
    line-height: 95%;
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
  h3 {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  h4 {
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  h5 {
    font-size: 8px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }
  h6 {
    font-size: 8px;
    line-height: 115%;
  }
  .body {
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .body-small {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -0.01em;
  }
  .caption {
    font-size: 8px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .caption-small {
    font-size: 8px;
    line-height: 120%;
  }
}

.comp-foot-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  padding: 12px 100px;
  background: #0E1928;
  border-top: 1px solid #172C49;
  border-radius: 0px 0px 4px 4px;
}

.green {
  color: #85E875;
  border: transparent;
}

.yellow {
  color: #E8D575;
  border: transparent;
}

.red {
  color: #E87575;
  border: transparent;
}

.comp-foot-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-wrapper {
  margin-top: 120px;
  margin-left: 20px;
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0C1A2D;
  border: 1px solid #172C49;
  border-radius: 4px;
  padding-top: 12px;
}

.comp-head-container {
  width: calc(100% - 16px);
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-head-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.comp-traits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.expand-button {
  width: 64px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expand-button img {
  height: 12px;
  width: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.comp-navigation {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.comp-positioning-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0px;
  gap: 16px;
  background-color: #0E1828;
}

.comp-positioning-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  padding: 0px 57px 0px 0px;
  height: 119px;
  margin: -10px 0px -10px 0px;
}

.comp-positioning-row:nth-child(even) {
  padding: 0px 0px 0px 57px;
}

@media screen and (max-width: 1350px) {
  .comp-wrapper {
    width: 1000px;
  }
  .comp-foot-wrapper {
    width: 800px;
  }
  .comp-traits {
    gap: 6px;
  }
  .comp-units {
    gap: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .comp-wrapper {
    width: 800px;
  }
  .comp-foot-wrapper {
    width: 600px;
  }
  .comp-traits {
    gap: 6px;
  }
  .comp-units {
    gap: 10px;
  }
}

@media screen and (max-width: 850px) {
  .comp-wrapper {
    width: calc(100% - 32px);
  }
  .comp-foot-wrapper {
    width: calc(100% - 32px);
    padding: 8px 16px;
  }
  .comp-units {
    gap: 8px;
  }
  .expand-button img {
    width: 12px;
    height: 8px;
  }
}
/*# sourceMappingURL=comp.css.map */